<%- include('../partials/header') %>

    <br>
    <br>
    <div class="edit">
        <form class="table" action="/teams/<%= team.id %>?_method=PUT" method="POST" autocomplete="off">
            <label for="name">Team Name</label>
            <input type="text" name="name" value="<%= team.name %>"><br>
            <label for="name">Group</label>
            <input type="text" name="group" value="<%= team.group %>"><br>
            <label for="name">Continent</label>
            <input type="text" name="continent" value="<%= team.continent %>">
            <button type="submit">Update</button>
        </form>

    </div>





    <%- include('../partials/footer') %>