<%- include('../partials/header') %>
    <br>
    <br>
    <table id="allteams" class="table">
        <thead>
            <tr>
                <th>Avatar</th>
                <th>User Name</th>
                <th>Team</th>
                <th>Group</th>
                <th>Continent</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <% teams.forEach(function(team) { %>
                <tr>
                    <td>
                        <% if (user && user._id.equals(team.user)) { %>
                            <a href="/teams/<%= team._id %>/edit">Edit Team</a>
                            <% } %>
                    </td>
                    <td><img class="avatarImg" alt="avatar" src="<%= team.userAvatar %>" referrerpolicy="no-referrer"></td>
                    <td>
                        <%= team.userName %>
                    </td>
                    <td>
                        <%= team.name %>
                    </td>
                    <td>
                        <%= team.group %>
                    </td>
                    <td>
                        <%= team.continent %>
                    </td>

                    <td><a href="/teams/<%= team.id %>">View Details</a></td>
                    <% if (user && user._id.equals(team.user)) { %>
                        <td>
                            <form action="/teams/<%= team.id %>?_method=DELETE" class="delete-form" method="POST">
                                <button type="submit">DELETE</button>
                            </form>
                        </td>
                        <% } %>
                </tr>
                <% }); %>

        </tbody>

    </table>


    <%- include('../partials/footer') %>