<%- include('../partials/header') %>

    <table>
        <thead>
            <tr>
                <th>Team</th>
                <th>Continent</th>
                <th>World Cup Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% teams.forEach(function(team) { %>
                <tr>
                    <td>
                        <%= team.name %>
                    </td>
                    <td>
                        <%= team.worldCupTitle %>
                    </td>
                    <td>
                        <%= team.group %>
                    </td>
                    <td>
                        <%= team.continent %>
                    </td>
                    <td>
                        <%= team.squad %>
                    </td>
                    <td><a href="/teams/<%= team.id %>">View Details</a></td>

                </tr>
                <% }); %>

        </tbody>

    </table>


    <%- include('../partials/footer') %>